<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <h1>
        Welcome!
      </h1>
      <a href="#"><button class="login">Log In</button></a>
      <a href="#"><button class="register">Sign Up</button></a>
    </nav>
  </body>
</html>
