<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <h1>
        Welcome!
      </h1>
      <a href="/sessions/new"><button class="login">Log In</button></a>
      <a href="/users/new"><button class="register">Sign Up</button></a>
    </nav>
    <div class="container">
      <ul>
        <% for(let i = 0; i < tournaments.length; i++) { %>
        <li>
          <a href="/tournaments/:id"><%= tournaments[i].name</a>
        </li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
