<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Current Tournaments and Leagues</h1>
    <div class="container">
      <ul class="list-group">
        <% for(let i = 0; i < tournaments.length; i++) { %>
        <li class="list-group-item">
          <a href="/tournaments/<%= tournaments[i].id%>"
            ><%= tournaments[i].name %></a
          >
        </li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
