<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Create an Event</h1>
    <form action="/tournaments" method="POST">
      <div class="form-group">
        Name: <input type="text" name="name" /><br />
      </div>
      <div class="form-group">
        Description: <input type="text" name="description" /><br />
      </div>
      <div class="form-group">
        Location: <input type="text" name="location" /><br />
      </div>
      <input type="submit" name="" value="Create Tournament" />
    </form>
  </body>
</html>
