<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= tournaments.name %></h1>
    <p><%= tournaments.description %></p>
    <h3>Number of participants: <%= tournaments.numberOfTeams %></h3>
    <h2>Teams in the tournament</h2>
    <h4>Put teams in a table here with records</h4>
  </body>
</html>
