body {
  text-align: center;
  color: whitesmoke;
  background-image: url("/pictures/shooting-ball-2220403.jpg");
  background-repeat: no-repeat;
  background-size: 750px 750px;
}

.teamimg {
  height: 50px;
  width: 50px;
}

.list-group {
  width: 400px;
  height: 400px;
  padding-left: 50px;
  opacity: 0.8;
}

tr {
  color: whitesmoke;
}

input {
  opacity: 0.8;
}
